*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial,sans-serif;
    color: #fff;
    background-color: #121212;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #181818;

}
header h1{
    font-size: 24px;
    color: #fff;
}
header .dot{
    color: #3b82f6;
}
header ul{
    list-style: none;
    display: flex;
}
header ul li{
    margin: 0 10px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
}
.intro{
    display: flex;
    align-items: center;
    padding: 50px;
    text-align: center;
}
.profile-pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
.intro-text .name{
    color: #3b82f6;
}
.intro-text  .highlight{
    color: #3b82f6;
}

.resume-button{
    background-color: #3b82f6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#about, #careergoals, #samples{
    padding: 50px;
    text-align: center;
}
#about h2, #samples h2{
    font-size: 28px;
    margin-bottom: 20px;
}


.worksamples{
    margin: 20px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    text-align: center;
}
.worksamples img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 40px;
}
.worksamples h3{
    color: #3b82f6;
}
